{
  "arrowParens": "always",
  "importOrder": ["<THIRD_PARTY_MODULES>", "", "^@/(.*)$", "^[./]"],
  "importOrderParserPlugins": ["jsx", "typescript", "decorators-legacy"],
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": true
}